*{
  --cellDimension: min(30vw, 10rem);
  --cellGap: min(3vw, 1rem);
}

body {
  margin: 0;
  background-color: honeydew;
}

header h1 {
  text-align: center;
  font-size: 4rem;
  margin: 5rem 0;
}

.cell-container {
  display: flex;
  width: calc(var(--cellDimension) * 3 +
    var(--cellGap) * 2);
  flex-wrap: wrap;
  gap: var(--cellGap);
  margin: auto;
}

.cell {
  width: var(--cellDimension);
  height: var(--cellDimension);
  background-color: rgb(0, 0, 0, 0.75);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--cellDimension);
}

.cell:hover {
  background-color: black;
  cursor: pointer;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

footer {
  margin-top: 5rem;
  text-align: center;
}

footer a {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

footer a:hover {
  color: darkgoldenrod;
}

.message {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.75);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message p {
  color: white;
  font-size: 6rem;
  margin: 0;
}

.message button {
  font-size: 3rem;
  border: 0.1rem solid black;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  background-color: white;
  color: black;
}

.message button:hover {
  background-color: black;
  color: white;
  border: 0.1rem solid white;
}